@font-face {
  font-family: wisdom;
  src: url("../fonts/WisdomScriptAJ.otf"); }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: wisdom; }

.overlay-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: 0.7;
  transition: opacity .5s; }

.overlay-hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0;
  transition: opacity .5s; }

.extrainfo-hidden {
  height: 0%;
  width: 0%;
  position: absolute;
  top: -99999px;
  left: -99999px;
  background-color: yellow;
  opacity: 0.0; }

.extrainfo-visible {
  height: 75%;
  width: 16.666666%;
  position: absolute;
  background-color: yellow;
  opacity: 1.0;
  display: block;
  transition: height 0.5s ease-out, opacity 0.8s ease-out; }

.is-hidden {
  position: none; }

.grid {
  height: 100%;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: no-repeat center center; }

.beer_hover {
  background: black;
  color: white;
  float: left;
  padding-bottom: 100%;
  width: 100%; }

.beerinfo {
  display: none; }

.lager {
  background: url("../img/beer_orange.png");
  background-size: 100%; }

.ale {
  background: url("../img/beer_yellow	.png");
  background-size: 100%; }

.belgian {
  background: url("../img/beer_blue.png");
  background-size: 100%; }

.porter {
  background: url("../img/beer_darkblue.png");
  background-size: 100%; }

#title {
  height: 100%;
  width: 66.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: url("../img/logo.png") no-repeat #221f1f;
  background-size: 100%; }
