@font-face {
  font-family: 'wisdom';
  src: url("../fonts/WisdomScriptAJ.otf"); }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: wisdom; }

.overlay-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: 0.7;
  transition: opacity .5s; }

.overlay-hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0;
  transition: opacity .5s; }

.extrainfo-hidden {
  height: 0%;
  width: 0%;
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0; }

.extrainfo-visible {
  height: 75%;
  width: 16.666666%;
  position: absolute;
  opacity: 1.0;
  display: block;
  transition: height 0.5s ease-out, opacity 0.8s ease-out; }

#extrainfo {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #111111;
  color: #fff; }
  #extrainfo h1 {
    padding: 3%; }
  #extrainfo h3 {
    padding: 3%; }
  #extrainfo p {
    padding: 3%; }

.is-hidden {
  position: none; }

.grid {
  height: 100%;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: no-repeat center center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.grid-hover {
  position: absolute;
  width: 16.666666%;
  padding-bottom: 0.0%;
  margin-top: 16.666666%;
  float: left;
  transition: all 0.6s;
  background-color: lime; }
  .grid-hover .foam {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    background-color: #F8CA4D; }
  .grid-hover .liquid {
    position: absolute;
    width: 100%;
    height: 25%;
    float: left;
    margin: 0;
    background-color: white; }

.grid-inside {
  position: absolute;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: no-repeat center center; }
  .grid-inside p.beerName {
    position: absolute;
    font-size: 1.1em;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 10%;
    font-family: 'wisdom'; }

.beerinfo {
  display: none; }

.hefe {
  background-color: #af8746;
  background-size: 100%; }
  .hefe .grid-inside {
    background: url("../img/hefe.png") no-repeat;
    background-size: 100%;
    color: #af8746;
    transition: background 0.6s; }
    .hefe .grid-inside:hover {
      background: url("../img/hefe_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.other {
  background-color: #cbbda0;
  background-size: 100%; }
  .other .grid-inside {
    background: url("../img/others.png") no-repeat;
    background-size: 100%;
    color: #cbbda0;
    transition: background 0.6s; }
    .other .grid-inside:hover {
      background: url("../img/others_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.pilsner {
  background-color: #af8746;
  background: #af8746;
  background-size: 100%; }
  .pilsner .grid-inside {
    background: url("../img/pilsner.png") no-repeat;
    background-size: 100%;
    color: #af8746;
    transition: background 0.6s; }
    .pilsner .grid-inside:hover {
      background: url("../img/pilsner_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.ale {
  background-color: #993b31;
  background-size: 100%; }
  .ale .grid-inside {
    background: url("../img/ale.png") no-repeat;
    background-size: 100%;
    color: #993b31;
    transition: background 0.6s; }
    .ale .grid-inside:hover {
      background: url("../img/ale_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.pale {
  background-color: #993b31;
  background-size: 100%; }
  .pale .grid-inside {
    background: url("../img/paleAle.png") no-repeat;
    background-size: 100%;
    color: #993b31;
    transition: background 0.6s; }
    .pale .grid-inside:hover {
      background: url("../img/paleALe_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.porter {
  background-color: #697587;
  background-size: 100%; }
  .porter .grid-inside {
    background: url("../img/porter.png") no-repeat;
    background-size: 100%;
    color: #697587;
    transition: background 0.6s; }
    .porter .grid-inside:hover {
      background: url("../img/porter_active.png") no-repeat;
      background-size: 100%;
      color: #F8CA4D; }

.stout {
  background-color: #697587;
  background-size: 100%; }
  .stout .grid-inside {
    background: url("../img/stout.png") no-repeat;
    background-size: 100%;
    color: #697587;
    transition: background 0.6s; }
    .stout .grid-inside:hover {
      background: url("../img/stout_active.png") no-repeat;
      background-size: 100%;
      color: #F8CA4D; }

#title {
  height: 100%;
  width: 66.666666%;
  padding-bottom: 16.66666%;
  float: left;
  margin: 0;
  background: url("../img/title.png") no-repeat #221f1f center;
  background-size: 100%;
  background-color: lime; }

#test {
  height: 100%;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: lime;
  transition: all 0.5s; }
