@font-face {
  font-family: 'wisdom';
  src: url("../fonts/WisdomScriptAJ.otf"); }

@font-face {
  font-family: 'Futura-Regular';
  src: url("../fonts/FuturaLT.ttf"); }

@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/FuturaLT-Bold.ttf"); }

@font-face {
  font-family: 'Futura-LightOblique';
  src: url("../fonts/FuturaLT-LightOblique.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: wisdom; }

.overlay-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: 0.6;
  transition: opacity .5s; }

.overlay-hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0;
  transition: opacity .5s; }

.extrainfo-hidden {
  height: 0%;
  width: 0%;
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0; }

.extrainfo-visible {
  height: 400px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  border-radius: 3px;
  position: fixed;
  opacity: 1.0;
  display: block;
  transition: height 0.5s ease-out, opacity 0.8s ease-out; }

#extrainfo {
  background-color: #111111;
  color: #f8ca4d;
  overflow: scroll; }
  #extrainfo h1 {
    font-family: wisdom;
    margin: 8%;
    margin-bottom: 0;
    padding-bottom: 1%;
    border-bottom: 1px solid #F8CA4D; }
  #extrainfo h3 {
    font-family: 'Futura-LightOblique';
    font-size: 0.9rem;
    margin: 3% 8%; }
  #extrainfo p {
    font-family: Futura-Regular;
    margin: 2% 8%; }
    #extrainfo p a:link {
      text-decoration: none;
      color: #F7E3B0; }
    #extrainfo p a:visited {
      text-decoration: none;
      color: #F7E3B0; }
    #extrainfo p a:hover {
      border-bottom: 1px solid #F7E3B0; }
  #extrainfo #author {
    font-family: 'Futura-Regular';
    margin: -1% 0 3% 40%;
    font-size: 0.8rem; }

#extrainfoBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background: lime;
  padding: 100px; }

#closebutton {
  background-image: url("../img/closebutton.png");
  width: 20px;
  height: 20px;
  position: fixed;
  left: 50%;
  margin-left: 220px;
  margin-top: 10px; }
  #closebutton:hover {
    background-image: url("../img/closebutton-hover.png"); }

.is-hidden {
  position: none; }

.grid {
  height: 100%;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: no-repeat center center;
  overflow: hidden;
  cursor: url("../img/favicon.png");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.grid-hover {
  position: absolute;
  width: 16.666666%;
  padding-bottom: 0.0%;
  margin-top: 16.666666%;
  float: left;
  transition: all 0.6s; }
  .grid-hover .foam {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    background-color: #F8CA4D; }
  .grid-hover .liquid {
    position: absolute;
    width: 100%;
    height: 20%;
    float: left;
    margin: 0;
    background-color: white; }

.grid-inside {
  position: absolute;
  width: 16.666666%;
  padding-bottom: 16.666666%;
  float: left;
  margin: 0;
  background: no-repeat center center; }
  .grid-inside p.beerName {
    position: absolute;
    font-size: 1.05em;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    top: 79%;
    font-family: wisdom; }

.beerinfo {
  margin: 5%;
  margin-left: 30%;
  margin-bottom: -25%;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0.0; }

.beerinfo-selected {
  display: block;
  background: lime; }

.hefe {
  background-color: #af8746;
  background-size: 100%; }
  .hefe .grid-inside {
    background: url("../img/hefe.png") no-repeat;
    background-size: 100%;
    color: #af8746;
    transition: background 0.6s; }
    .hefe .grid-inside:hover {
      background: url("../img/hefe_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.other {
  background-color: #cbbda0;
  background-size: 100%; }
  .other .grid-inside {
    background: url("../img/others.png") no-repeat;
    background-size: 100%;
    color: #cbbda0;
    transition: background 0.6s; }
    .other .grid-inside:hover {
      background: url("../img/others_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.pilsner {
  background-color: #af8746;
  background: #af8746;
  background-size: 100%; }
  .pilsner .grid-inside {
    background: url("../img/pilsner.png") no-repeat;
    background-size: 100%;
    color: #af8746;
    transition: background 0.6s; }
    .pilsner .grid-inside:hover {
      background: url("../img/pilsner_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.ale {
  background-color: #993b31;
  background-size: 100%; }
  .ale .grid-inside {
    background: url("../img/ale.png") no-repeat;
    background-size: 100%;
    color: #993b31;
    transition: background 0.6s; }
    .ale .grid-inside:hover {
      background: url("../img/ale_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.pale {
  background-color: #993b31;
  background-size: 100%; }
  .pale .grid-inside {
    background: url("../img/paleAle.png") no-repeat;
    background-size: 100%;
    color: #993b31;
    transition: background 0.6s; }
    .pale .grid-inside:hover {
      background: url("../img/paleALe_active.png") no-repeat;
      background-size: 100%;
      color: #f8ca4d; }

.porter {
  background-color: #697587;
  background-size: 100%; }
  .porter .grid-inside {
    background: url("../img/porter.png") no-repeat;
    background-size: 100%;
    color: #697587;
    transition: background 0.6s; }
    .porter .grid-inside:hover {
      background: url("../img/porter_active.png") no-repeat;
      background-size: 100%;
      color: #F8CA4D; }

.stout {
  background-color: #697587;
  background-size: 100%; }
  .stout .grid-inside {
    background: url("../img/stout.png") no-repeat;
    background-size: 100%;
    color: #697587;
    transition: background 0.6s; }
    .stout .grid-inside:hover {
      background: url("../img/stout_active.png") no-repeat;
      background-size: 100%;
      color: #F8CA4D; }

#title {
  height: 100%;
  width: 66.666666%;
  padding-bottom: 16.66666%;
  float: left;
  margin: 0;
  background: url("../img/title.png") no-repeat #221f1f center;
  background-size: 100%; }

#additional-info {
  background: url("../img/info.png") no-repeat;
  transition: background 0.7s;
  background-size: 100%; }
  #additional-info:hover {
    background: url("../img/info-hover.png") no-repeat;
    transition: background 0.7s;
    background-size: 100%; }

/***********************************************/
/* iPads (portrait and landscape) ----------- */
/**********************************************/
@media screen and (max-width: 1024px) {
  .grid-inside p.beerName {
    font-size: 0.7em;
    top: 77%; }

  .grid-hover {
    display: none; }

  .hefe .grid-inside:hover {
    background: url("../img/hefe.png") no-repeat;
    background-size: 100%;
    color: #af8746; }

  .other .grid-inside:hover {
    background: url("../img/others.png") no-repeat;
    background-size: 100%;
    color: #cbbda0; }

  .pilsner .grid-inside:hover {
    background: url("../img/pilsner.png") no-repeat;
    background-size: 100%;
    color: #af8746; }

  .ale .grid-inside:hover {
    background: url("../img/ale.png") no-repeat;
    background-size: 100%;
    color: #993b31; }

  .pale .grid-inside:hover {
    background: url("../img/paleALe.png") no-repeat;
    background-size: 100%;
    color: #993b31; }

  .porter .grid-inside:hover {
    background: url("../img/porter.png") no-repeat;
    background-size: 100%;
    color: #697587; }

  .stout .grid-inside:hover {
    background: url("../img/stout.png") no-repeat;
    background-size: 100%;
    color: #697587; } }
/****************************************************/
/* Smartphones (portrait and landscape) ----------- */
/****************************************************/
@media screen and (min-width: 320px) and (max-width: 568px) {
  #title {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 27%;
    background: url("../img/title-mobile.png") no-repeat #221f1f center;
    background-size: 100%;
    float: none; }

  .grid {
    height: 100%;
    width: 100%;
    padding-bottom: 25%;
    margin: 0;
    background: no-repeat center center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }

  #additional-info {
    background-size: 40%;
    background-position-x: center;
    background-position-y: -15px;
    background-color: #211e1f;
    transition: all 0.5s; }
    #additional-info:hover {
      background-position-x: center;
      background-position-y: -15px;
      background-size: 40%;
      background-color: #3A3537; }
    #additional-info h3 {
      font-family: 'Futura-LightOblique';
      font-size: 0.7rem;
      margin: 3% 8%;
      margin-top: 120px;
      color: #F8CA4D; }
    #additional-info p#author {
      font-family: 'Futura-LightOblique';
      font-size: 0.7rem;
      margin: 3% 8%;
      margin-top: 5%;
      margin-bottom: 5%;
      color: #F8CA4D; }
    #additional-info p {
      color: #F8CA4D;
      font-weight: normal; }
    #additional-info a {
      color: #af8746;
      text-decoration: none; }

  .grid-hover {
    display: none; }

  .grid-inside {
    position: absolute;
    width: 100%;
    padding-bottom: 25%;
    margin: 0;
    background: no-repeat left center; }
    .grid-inside p.beerName {
      position: absolute;
      font-size: 1.3em;
      text-align: left;
      width: 65%;
      padding-left: 30%;
      padding-right: 5%;
      top: 35%;
      font-family: wisdom;
      line-height: 1.7rem; }

  .beerinfo {
    display: block;
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    padding-left: 30%;
    margin-bottom: -19%;
    margin-top: 23%;
    transition: height 0.5s, opacity 0.7s; }
    .beerinfo h1 {
      display: none; }
    .beerinfo p {
      font-family: 'Futura-Regular';
      font-size: 0.9rem;
      margin: 3% 0; }

  .hefe {
    background-color: #edb20c;
    background-size: contain;
    color: #af8746; }
    .hefe .grid-inside {
      background-size: contain !important;
      background: url("../img/hefe_solid.png") no-repeat; }
      .hefe .grid-inside p.beerName {
        color: #af8746; }
      .hefe .grid-inside:hover {
        background-size: contain !important;
        background: url("../img/hefe_solid.png") no-repeat; }

  .other {
    background-color: #f5e5c0;
    background-size: contain;
    color: #cbbda0; }
    .other .grid-inside {
      background-size: contain !important;
      background: url("../img/other_solid.png") no-repeat; }
      .other .grid-inside p.beerName {
        color: #cbbda0; }
      .other .grid-inside:hover {
        transition: all 0;
        background-size: contain !important;
        background: url("../img/other_solid.png") no-repeat; }

  .pilsner {
    background-color: #f8ca4d;
    background-size: contain;
    color: #af8746; }
    .pilsner .grid-inside {
      background-size: contain !important;
      background: url("../img/pilsner_solid.png") no-repeat; }
      .pilsner .grid-inside p.beerName {
        color: #af8746; }
      .pilsner .grid-inside:hover {
        background-size: contain !important;
        background: url("../img/pilsner_solid.png") no-repeat; }

  .ale {
    background-color: #ea8145;
    background-size: contain;
    color: #993b31; }
    .ale .grid-inside {
      background-size: contain !important;
      background: url("../img/ale_solid.png") no-repeat; }
      .ale .grid-inside p.beerName {
        color: #993b31; }
      .ale .grid-inside:hover {
        background-size: contain !important;
        background: url("../img/ale_solid.png") no-repeat; }

  .pale {
    background-color: #ea6045;
    background-size: contain;
    color: #993b31; }
    .pale .grid-inside {
      background-size: contain !important;
      background: url("../img/paleAle_solid.png") no-repeat; }
      .pale .grid-inside p.beerName {
        color: #993b31; }
      .pale .grid-inside:hover {
        background-size: contain !important;
        background: url("../img/paleAle_solid.png") no-repeat; }

  .porter {
    background-color: #3f5666;
    background-size: contain;
    color: #697587; }
    .porter .grid-inside {
      background-size: contain !important;
      background: url("../img/porter_solid.png") no-repeat; }
      .porter .grid-inside p.beerName {
        color: #697587; }
      .porter .grid-inside:hover {
        transition: all 0;
        background-size: contain !important;
        background: url("../img/porter_solid.png") no-repeat; }

  .stout {
    background-color: #2f3440;
    background-size: contain;
    color: #697587; }
    .stout .grid-inside {
      background-size: contain !important;
      background: url("../img/stout_solid.png") no-repeat; }
      .stout .grid-inside p.beerName {
        color: #697587; }
      .stout .grid-inside:hover {
        transition: all 0;
        background-size: contain !important;
        background: url("../img/stout_solid.png") no-repeat; } }
