$orange: #993B31;
$yellow: #AF8746;
$blue: #5F8899;
$navy: #697587;
$black: #111111;
$cBeige: #cbbda0;
$cActive: #F8CA4D;

$other: #F5E5C0;
$ale: #EA8145;
$paleAle: #EA6045;
$pilsner: #F8CA4D;
$hefe: #EDB20C;
$porter: #3F5666;
$stout: #2F3440;

@font-face {
	font-family: 'wisdom';
	src: url('../fonts/WisdomScriptAJ.otf');
}

@font-face {
	font-family: 'Futura-Regular';
	src: url('../fonts/FuturaLT.ttf');
}

@font-face {
	font-family: 'Futura-Bold';
	src: url('../fonts/FuturaLT-Bold.ttf');
}


* { margin: 0; padding: 0;}


body {
	width: 100%;
	height: 100%;
	font-family: wisdom;
}

#main {
}

.overlay-visible {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.6;
	transition: opacity .5s;
}

.overlay-hidden {
	position: absolute;
	top: -99999px;
	left: -99999px;
	opacity: 0.0;
	transition: opacity .5s;
}

.extrainfo-hidden {
	height: 0%;
	width: 0%;
	position: absolute;
	top: -99999px;
	left: -99999px;
	opacity: 0.0;
}

.extrainfo-visible {
	height: 400px;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;

	border-radius: 3px;

	position: fixed;
	opacity: 1.0;
	display: block;
	transition: height 0.5s ease-out, opacity 0.8s ease-out;
}

#extrainfo {
	background-color: $black;
	color: #F8CA4D;
	overflow: scroll;

	h1 {
		font-family: wisdom;
		margin: 8%;
		margin-bottom: 0;
		padding-bottom: 1%;
		border-bottom: 1px solid #F8CA4D;
	}

	p {
		font-family: Futura-Regular;
		margin: 2% 8%;
	}
}

#closebutton {
	background-image: url("../img/closebutton.png");
	width: 20px;
	height:20px;
	position: fixed;
	left: 50%;
	margin-left: 220px;
	margin-top: 10px;

	&:hover {
		background-image: url("../img/closebutton-hover.png");
	}
}



.is-hidden {
	position: none;
}

.grid {
	height: 100%;
	width: 16.666666%;
	padding-bottom: 16.666666%;
	float: left;
	margin: 0;
	background: no-repeat center center;
	overflow: hidden;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
}

.grid-hover {
	position: absolute;
	width: 16.666666%;
	padding-bottom: 0.0%;
	margin-top: 16.666666%;
	float: left;
	transition: all 0.6s;
	background-color: lime;

	.foam {
		position: absolute;
		width: 100%;
		height: 100%;
		float: left;
		margin: 0;
		background-color: #F8CA4D;
	}

	.liquid {
		position: absolute;
		width: 100%;
		height: 20%;
		float: left;
		margin: 0;
		background-color: white;
	}
}

.grid-inside {
	position: absolute;
	width: 16.666666%;
	padding-bottom: 16.666666%;
	float: left;
	margin: 0;
	background: no-repeat center center;

	p.beerName{
		position: absolute;
		font-size: 1.05em;
		text-align: center;
		width: 90%;
		padding-left: 5%;
		padding-right: 5%; 
		top: 79%;
		font-family: wisdom;
	}
}

.beerinfo {
	margin: 5%;
	margin-left: 30%;
	margin-bottom: -25%;

	height: 0px;
	width: 0px;
	position: absolute;
	top: -99999px;
	left: -99999px;
	opacity: 0.0;
}

.beerinfo-selected {
	display: block;
	background: lime;
}

.hefe {
	background-color: $yellow;
	background-size: 100%;

	.grid-inside {
		background: url('../img/hefe.png') no-repeat;
		background-size: 100%;
		color: $yellow;

		&:hover{
			background: url('../img/hefe_active.png') no-repeat;
			background-size: 100%;
			color: $cActive;
		}
		transition: background 0.6s;
	}
}

.other {
	background-color: $cBeige;
	background-size: 100%;

	.grid-inside {
		background: url('../img/others.png') no-repeat;
		background-size: 100%;
		color: $cBeige;
		&:hover{
			background: url('../img/others_active.png') no-repeat;
			background-size: 100%;
			color: $cActive;
		}
		transition: background 0.6s;
	}
}

.pilsner {
	background-color: $yellow;
	background: $yellow;
	background-size: 100%;

	.grid-inside {
		background: url('../img/pilsner.png') no-repeat;
		background-size: 100%;
		color: $yellow;

		&:hover{
			background: url('../img/pilsner_active.png') no-repeat;
			background-size: 100%;
			color: $cActive;
		}
		transition: background 0.6s;
	}
}

.ale {
	background-color: $orange;
	background-size: 100%;

	.grid-inside {
		background: url('../img/ale.png') no-repeat;
		background-size: 100%;
		color: $orange;
		&:hover{
			background: url('../img/ale_active.png') no-repeat;
			background-size: 100%;
			color: $cActive;
		}
		transition: background 0.6s;
	}
}

.pale {
	background-color: $orange;
	background-size: 100%;

	.grid-inside {
		background: url('../img/paleAle.png') no-repeat;
		background-size: 100%;
		color: $orange;
		&:hover{
			background: url('../img/paleALe_active.png') no-repeat;
			background-size: 100%;
			color: $cActive;
		}
		transition: background 0.6s;
	}
}

.porter {
	background-color: $navy;
	background-size: 100%;

	.grid-inside {
		background: url('../img/porter.png') no-repeat;
		background-size: 100%;
		color: $navy;

		&:hover{
			background: url('../img/porter_active.png') no-repeat;
			background-size: 100%;
			color: #F8CA4D;
		}
		transition: background 0.6s;
	}
}

.stout {
	background-color: $navy;
	background-size: 100%;

	.grid-inside {
		background: url('../img/stout.png') no-repeat;
		background-size: 100%;
		color: $navy;
		&:hover{
			background: url('../img/stout_active.png') no-repeat;
			background-size: 100%;
			color: #F8CA4D;
		}
		transition: background 0.6s;
	}
}

#title {
	height: 100%;
	width: 66.666666%;
	padding-bottom: 16.66666%;
	float: left;
	margin: 0;
	background: url('../img/title.png') no-repeat #221f1f center;
	background-size: 100%;
	background-color: lime;
}

/***********************************************/
/* iPads (portrait and landscape) ----------- */
/**********************************************/

@media screen and (max-width : 1024px) {
	.grid-inside {

		p.beerName{
			font-size: 0.7em;
			top: 77%;
		}
	}

	.grid-hover {
		display: none;
	}

	.hefe {
		.grid-inside {
			&:hover{
				background: url('../img/hefe.png') no-repeat;
				background-size: 100%;
				color: $yellow;
			}
		}
	}

	.other {
		.grid-inside {
			&:hover{
				background: url('../img/others.png') no-repeat;
				background-size: 100%;
				color: $cBeige;
			}
		}
	}

	.pilsner {
		.grid-inside {
			&:hover{
				background: url('../img/pilsner.png') no-repeat;
				background-size: 100%;
				color: $yellow;
			}
		}
	}

	.ale {
		.grid-inside {
			&:hover{
				background: url('../img/ale.png') no-repeat;
				background-size: 100%;
				color: $orange;
			}
		}
	}

	.pale {
		.grid-inside {
			&:hover{
				background: url('../img/paleALe.png') no-repeat;
				background-size: 100%;
				color: $orange;
			}
		}
	}

	.porter {
		.grid-inside {
			&:hover{
				background: url('../img/porter.png') no-repeat;
				background-size: 100%;
				color: $navy;
			}
		}
	}

	.stout {
		.grid-inside {
			&:hover{
				background: url('../img/stout.png') no-repeat;
				background-size: 100%;
				color: $navy;
			}
		}
	}
}

/****************************************************/
/* Smartphones (portrait and landscape) ----------- */
/****************************************************/

@media screen and (min-width : 320px) and (max-width : 568px) {
	#title {
		max-width: 100%;
		width: 100%;
		height: 100%;
		padding-bottom: 25%;
		background: url('../img/title-mobile.png') no-repeat #221f1f center;
		background-size: 100%;
		float: none;
	}

	.grid {
	height: 100%;
	width: 100%;
	padding-bottom: 25%;
	margin: 0;
	background: no-repeat center center;
	overflow: hidden;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	}

	.grid-hover {
		display: none;
	}


	.grid-inside {
		position: absolute;
		width: 100%;
		padding-bottom: 25%;
		margin: 0;
		background: no-repeat left center;
		p.beerName{
			position: absolute;
			font-size: 1.3em;
			text-align: left;
			width: 65%;
			padding-left: 30%;
			padding-right: 5%; 
			top: 35%;
			font-family: wisdom;
		}
	}

	.beerinfo {
		/*margin: 5%;
		margin-left: 30%;
		margin-bottom: -25%;

		height: 0%;
		width: 0%;
		position: absolute;
		top: -99999px;
		left: -99999px;
		opacity: 0.0;*/
		display: block;
		position: relative;
		margin: 0;
		top: 0;
		left: 0;
		padding-left: 30%;
		margin-bottom: -20%;
		margin-top: 21%;
		overflow: scroll;

		transition: height 0.5s, opacity 0.7s;

		h1 {
			display: none;
		}

		p {
			font-family: 'Futura-Regular';
			font-size: 0.9rem;
		}
	}

	.hefe {
	background-color: $hefe;
	background-size: contain;
	color: $yellow;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/hefe_solid.png") no-repeat;
			p.beerName{
				color: $yellow;
			}

			&:hover {
				background-size: contain !important;
				background: url("../img/hefe_solid.png") no-repeat;
			}
		}
	}

	.other {
	background-color: $other;
	background-size: contain;
	color: $cBeige;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/other_solid.png") no-repeat;

			p.beerName{
				color: $cBeige;
			}
							
			&:hover {
				transition: all 0;
				background-size: contain !important; 
				background: url("../img/other_solid.png") no-repeat;

			}
		}
	}

	.pilsner {
	background-color: $pilsner;
	background-size: contain;
	color: $yellow;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/pilsner_solid.png") no-repeat;

			p.beerName{
				color: $yellow;
			}

			&:hover {
				background-size: contain !important;
				background: url("../img/pilsner_solid.png") no-repeat;
			}
		}
	}

	.ale {
	background-color: $ale;
	background-size: contain;
	color: $orange;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/ale_solid.png") no-repeat;

			p.beerName{
				color: $orange;
			}

			&:hover {
				background-size: contain !important;
				background: url("../img/ale_solid.png") no-repeat;
			}
		}
	}

	.pale {
	background-color: $paleAle;
	background-size: contain;
	color: $orange;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/paleAle_solid.png") no-repeat;

			p.beerName{
				color: $orange;
			}


			&:hover {
				background-size: contain !important;
				background: url("../img/paleAle_solid.png") no-repeat;
			}
		}
	}

	.porter {
	background-color: $porter;
	background-size: contain;
	color: $navy;

		.grid-inside {
			background-size: contain !important;
			background: url("../img/porter_solid.png") no-repeat;

			p.beerName{
				color: $navy;
			}

			&:hover {
				transition: all 0;
				background-size: contain !important;
				background: url("../img/porter_solid.png") no-repeat;
			}
		}
	}

	.stout {
	background-color: $stout;
	background-size: contain;
	color: $navy;

			.grid-inside {
			background-size: contain !important;
			background: url("../img/stout_solid.png") no-repeat;
			
			p.beerName{
				color: $navy;
			}

			&:hover {
				transition: all 0;
				background-size: contain !important;
				background: url("../img/stout_solid.png") no-repeat;
			}
		}
	}
}